

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
/* colours */
$lightpink: #FFE5E3;
$rose: #F99D93;
$red: #CC0000;
$darkred: #A31414;
/* fonts */
$baloo :'Baloo Chettan', cursive;
/* mixin for shadow */
@mixin shadow($blurColor) {
  -webkit-box-shadow: $blurColor;
     -moz-box-shadow: $blurColor;
      -ms-box-shadow: $blurColor;
          box-shadow: $blurColor;
}
/*animations */
@keyframes fadein {
  0%{display:none;opacity:0;transform:translateY(20px);}
  1%{display:block;}
  100%{opacity:1;transform:translateY(0px)}

}

.flexHorizontal{display:flex;flex-direction: row;
                justify-content: space-around;}
.trans {transition:all .2s ease-in}
/* reset */
*{box-sizing: border-box; margin:0; font-family:$baloo}
.shadow{@include shadow(1px 2px 5px gray); }
header{background:$darkred;
       width:100%;
       height:150px;
       position:fixed;
       display: block;
       z-index: 10;

      img{width:30%;max-width:500px;min-width: 200px;margin:40px auto;display:block;}
    }

main{position:absolute;top:150px;
     display:block;
    background:$lightpink;
    width:100%;
    height:100%}
#loginButtonContainer{

            @extend .flexHorizontal;
                      height:200px;
                      width:70%;
                      margin:50px auto;}

.signinTitles{text-align:center;color:white;width:100%;
              position:relative;
              top:-40px;
              display:block}
.closeForm{@extend .signinTitles;
            cursor:pointer;
            border-radius:5px;background:$darkred;
            border:1px solid $rose;
            width:100%;margin-top: 80px;bottom:20px}
.butt{
      @extend .trans;
      cursor:pointer;
      width:100px;
      height:100px;
      border-radius: 75px;
      background:$rose;
      color:$darkred;
      text-align: center;
      padding-top:40px;
      &:hover{background:$red;color:$lightpink}}

  .form{position:fixed;
        animation:fadein .5s ease-in;
        font-size: 2rem;
        z-index:200;
        left:5%;
        width:90%;
        padding:10%;
        color:$lightpink;
        background: rgba(204, 0, 0, .9);
        border-radius: 10px;
        height:80%;top:5%;
        @include shadow(3px 3px 10px $darkred)}
label{display:inline-block;}
input{margin-bottom: 20px}
input[type=text],input[type=password],input[type=file]{margin-left:10px;margin-right:20px;
                  border:none;border-bottom:1px solid $darkred;color:white;
                  font-size: 2rem;background: rgba(204, 0, 0, 0);
            &:focus{outline:none;border-bottom:2px solid $lightpink};
            &::placeholder{font-style:italic;color:$rose}
  }
input[type=submit]{width:100px;
                  cursor:pointer;
                  height:50px;
                  border-radius:5px;
                  background:$lightpink;
                  color:$red;
                  font-size: 1.2rem;
                  text-align: center;
                  border:0px solid $lightpink;
                  &:hover{@extend .trans;
                    @include shadow(0px 0px 10px white);
                    background:white;}
            }
